*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(1355deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-family: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 40px;
    height: 40px;
}

.weather-icon{
    width: 200px;
    height: 200px;
    border: none;
    margin-top: 30px;
    padding: 0;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: -40px;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.details {
  display: flex;             /* puts col divs in a row */
  justify-content: space-between; /* space between humidity and windy */
  margin-top: 20px;          /* some spacing above */
} */

.col {
  display: flex;             /* image + text in one line */
  align-items: center;       /* vertically center image with text */
  gap: 10px;                 /* space between icon and text */
  flex: 1; 
  margin: 0;                  /* make both columns take equal space */
}

.windy p{
    margin-bottom: -100px;
}

.humid{
    width: 60px;
    height: 60px;
    border: none;
    margin-top: 20px;
    padding: 0;
}

.windicon{
    width: 60px;
    height: 60px;
    border: none;
    padding: 0;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    margin-right: 10px;
}

.humidity, .windy{
    font-size: 28px;
    margin-top: -6px;
}